<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  

  
    <!-- <div class="navbar-nav search-bar ms-auto">

        <h1>Find perfect room</h1> <br>
        <form class="d-flex" role="search">
          <input 
          class="form-control me-2 search-inp" 
          type="search" 
          placeholder="Search destination" 
         />
         <br>
      
          <button class="btn search-btn" type="submit">
             <i class="fa-solid fa-magnifying-glass" ></i> Search
            </button>
        </form>
      
      </div>
 -->

    </body>
</html>