body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 4.5rem;
    background-color: white;
}



.signup-login {

    /* border: 0.1px solid #c44e4e !important; Change the color and thickness as desired */
    padding: 5px 15px;
    /* Adjust padding as needed */
    border-radius: 20px;
    /* Optional: add border radius for rounded corners */
    margin: 0 7px;
    color: white !important;
    text-decoration: none;
    /* background-color: #007bff;  */
}


.navbar-brand {
    display: flex;
    align-items: center;
    /* Center vertically */
    text-decoration: none;
    /* Remove default underline */
    color: #333;
    /* Adjust color as needed */
    font-size: 1.7rem !important;
    /* Adjust font size as needed */
    font-weight: bold;
    /* Adjust font weight as needed */
}

.navbar-brand img {
    width: 30px;
    /* Adjust image width as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 10px;
    /* Adjust margin as needed */
}


.navbar-brand {
    padding-left: 20px;
}

.navbar-nav .app-link {
    padding-top: 4px;
    font-size: 17px;
}

.navbar-nav a {
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.navbar-nav a:hover {
    outline: #000;
    /* color: yellow; */
    font-weight: bold;
}

.signup-login {
    outline: none !important;
    /* Remove the outline */
    /* Or you can customize the focus style */
    box-shadow: none !important;
    color: #000 !important;
    background-color: white;
    border: 0.5px solid black;
}

.navbar-nav .signup-login:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
    /* Box shadow effect on hover */
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* height: 1000px; */
}


/* /// body */


.search-bar-right a {
    text-decoration: none;
    font-size: 25px;
    background-color: #fe424d;
    padding: 40px;
    color: white !important;
    font-weight: bold;
}

.list a {
    border-radius: 0 70px;
}

.find a {
    border-radius: 70px 0;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-social,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-links{
    margin-bottom: 15px;
}

.f-info-links a {
    margin-bottom: 0px;
}

.f-info-social i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #cbcbeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


.listing-card {
    border: none !important;
    margin-bottom: 2rem !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    height: 350px !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* show page  */

.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* map  */

#map {
    height: 400px;
    width: 80vh;
}

/* // popular city */

.popular-city {
    margin: 0px 0 80px 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    padding: 0 4px 10px 4px;
    border-radius: 13px;
}

.popular-city ul {
    list-style-type: none;
    padding: 0;
    margin: 30px 0 0px 0;
    display: flex;
    flex-wrap: wrap;
}

.popular-city ul li {
    flex-basis: 20%;
    text-align: center;
}

.popular-city ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 15px;
    border-radius: 30px;
}

.about-team-h1 {
    font-size: 30px;
}

.trending-list {
    margin-bottom: 90px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.card-body {
    line-height: 20px;
}

.card-body .fa-whatsapp {
    text-decoration: none;
    color: green;
    font-size: 20px;
}

.card-body a {
    text-decoration: none;
}

.call:hover {
    text-decoration: underline;
}

/* ////  about team */

.team-card {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 200px 0;
    justify-content: space-between;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 13px;
}

.team-member {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 210px;
    height: 320px;
}

.team-member img {
    width: 100%;
    height: 50%;
    border-radius: 8px;
}
.team-member img:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
}

.member-details {
    margin-top: 17px;
    margin-bottom: -10px;
}

.member-details h2 {
    margin: 0;
    font-size: 16px;
}
.member-details p {
    margin: 5px 0;
    font-size: 12px;
}