

<% layout("/layouts/boilerplate") %>

<!-- <h1>Welcome to your profile</h1> -->

<style>
    .login-body{
 margin-bottom: 365px;   
 }
 
 </style>
 <br>
 <div class="row mt-4 login-body">
     <div class="col-5 offset-0.5">
                 <!-- Other profile content goes here -->
                 <h2>Welcome hemant!</h2>
     </div>
 </div>
